#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #89aba5;
}
body {
    background-color: white;
    font-family: raleway,Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0%;
}
h2 {
    margin: 0%;
}
header {
    background-color: #89aba5;
}
nav a:hover {
    background-color: #2f9382;
    color: black;
}
.home-title {
    color: #2f9382;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 2em;
margin-top: 10px;
}
h4 {
    color: #2f9382;
}
.book, .join {
    background-color: white;
    color: blue;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.book:hover, .join:hover {
    background-color: #89aba5;
    color: white;
}
.msg h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
    
}
footer h3 {
    color: white;
}
footer a {
    color: blue;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
.msg {
    background-color: #89aba5;
    padding: 35px;
}
footer {
    background-color: #89aba5;
    padding: 25px 50px;
    margin-top: 200px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
footer p {
    font-size: 1.2em;
    color: black;
}
footer p a:hover {
    text-decoration: underline;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.card-img {
    border: 10px solid #89aba5;
}
main section img {
    box-sizing: border-box;
}